body {
  background-color: #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.LabelInput {
    align-items: left;
    padding: 8px;
}

.LabelInput span {
    font-size: 40px;
}
.LabelInput div {
    font-size: 15px;
}

.LITop {
    display: flex;
    flex-direction: column;
}
.LISide {
    display: block;
}

.RowSplitterBase {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    gap: 10px;
}

.ColSplitterBase {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 12px;
}

.ColSplitterBase div {
    flex: 1;
}

.ColSplitterBig {
    width: 100%;
}

.RowSplitterBig {
    max-height: 90%;
    min-height: 80%;
    padding: 0px;
    gap: 30px;
}

.RowSpltterSmall {
    max-height: 25%;
    border: 1px solid #ccc;
    padding: 10px;
}


.NameValName {
    font-size: 30px;
    font-weight: bold;
}

.NameValValue {
    font-size: 25px;
}

.NameValue {
    height: 35%;
}

.NameValueGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    max-height: 50%;
    overflow-y: auto;
}


/*
Botón
*/

.ButtonContainer {
  width: 100%;
}

/* Botón */
.Button {
  width: 100%;
  height: 100%;
  background-color: #1f1f1f; /* un poco más oscuro que el fondo */
  border: 2px solid #111;    /* borde oscuro para resaltar */
  cursor: pointer;

  /* Forma:
     - Arriba completamente cuadrado
     - Abajo muy redondeado (casi circular)
  */
  border-radius: 0 0 20% 20%;

  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

/* Efecto hover: iluminación blanca */
.Button:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}
