:root {
    /* Dimensiones */
    --header-height: 64px;
    --sidebar-width-expanded: 70vw; /* Más ancho para texto largo */
    --sidebar-width-collapsed: 78px;
    --z-header: 20;
    --z-sidebar: 30;              /* Sidebar por encima del Main */
    --z-main: 10;

    /* Colores Tema Claro */
    --bg-body: #f0f2f5;
    --bg-header: #ffffff;
    --bg-sidebar: #ffffff;
    --bg-card: #ffffff;
    --text-primary: #1e293b;
    --text-secondary: #64748b;
    --primary: #4f46e5; /* Índigo */
    --primary-light: #eef2ff;
    --border: #e2e8f0;
    --backdrop: rgba(0, 0, 0, 0.5);

    --accent: #4f46e5;
    --text-muted: #64748b;


    /* Variables de la tarjeta */
    --card-border: #e2e8f0;
    --card-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);


    --logic-line-color: #cbd5e1;
    --logic-bg-step: #f8fafc;
    --logic-border-step: #e2e8f0;

    --danger: #ef4444; /* Rojo estándar */
    --danger-bg: rgba(239, 68, 68, 0.1); /* Rojo muy suave para hover */
}


@media (prefers-color-scheme: dark) {
    :root {
        /* Colores Tema Oscuro */
        --bg-body: #0f172a;
        --bg-header: #1e293b;
        --bg-sidebar: #1e293b;
        --bg-card: #1e293b;
        --text-primary: #f1f5f9;
        --text-secondary: #94a3b8;
        --primary: #818cf8;
        --primary-light: #312e81;
        --border: #334155;

        --accent: #818cf8;
        --text-muted: #94a3b8;

        --card-border: #334155;

        --logic-line-color: #475569;
        --logic-bg-step: #0f172a;
        --logic-border-step: #334155;
    }
}


/*Tema oscuro cuando switch esta en oscuro.*/
[data-switch="dark"] {
    --bg-body: #0f172a;
    --bg-header: #1e293b;
    --bg-sidebar: #1e293b;
    --bg-card: #1e293b;
    --text-primary: #f1f5f9;
    --text-secondary: #94a3b8;
    --primary: #818cf8;
    --primary-light: #312e81;
    --border: #334155;

    --accent: #818cf8;
    --text-muted: #94a3b8;
}


* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--bg-body);
    color: var(--text-primary);
    overflow: hidden; /* Importante para el layout */
}

/* --- RESPONSIVE ADJUST --- */
/* En móvil, el 70% es poco práctico, mejor 100% */
@media (max-width: 768px) {
    :root {
        --sidebar-width-expanded: 100%; /* Ocupa todo en móvil */
    }
    .filter-list, .sidebar-title { padding: 20px; }
}
